/* 
    COLOR PALETTE
     blackish: #242424
     orangeish: #e5451c

*/

/*  
    CONTENTS       

        GLOBAL PROPERTIES
        NAVBAR
         *DISABLE MOBILE SIDEBARS
        HEADER
        CONTENT
        WORKSHOPS
        SCHEDULE
        TICKET- PRICING TABLES
        FOOTER
    
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@media only screen and (min-width: 575.98px) {

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

nav {
    height: 12vh;
    align-content: center;
    text-align: center;
}

nav img{
    float: left;
    height: 42px;
    padding: 20px;
    margin-left: 20px;
}

nav div {
    height: 42px;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;
    align-content: center;
    text-align: center;
    padding: 20px;
}

nav ul li a {
    font-size: 1em;
    font-weight:600;
    margin: 15px;
    text-decoration: none;
    color: #242424;
}

nav ul li a:hover {
    color: #e5451c;
}


#buy-ticket {
    font-size: 0.95em;
    padding: 12px;
    color: #e5451c;
    border: solid 0.1px #e5451c;
    border-radius: 25px;
}

#buy-ticket:hover {
    color: #242424;
    border: solid 0.1px #242424;
}

.open-slide, .side-nav {
    display: none;
}

header {
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #242424;
    font-size: 5em;

}

div.content {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 8vh;
}

div.content div {
    padding: 20px;
    text-align: center;
    justify-content: center;    
    background-color:white;
    width: 25vw;
    height: 161;
    border-radius: 15px;
    border: solid 0.4px rgba(0,0,0,0.07);
}

div.content div:hover {
    -webkit-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.3);
}

div.content div h2 {
    color: #242424;  
    padding: 5px;
}

div.content div p {
    color: #656565;
    padding: 10px;
    font-size: 0.9em;  
}

div.workshops {
    height: 450px;
    width: 100%;
    text-align: center;

}

div.workshops h2 {
    color: #e5451c;
    padding: 70px;
    font-size: 2.5em;
}

div.workshops section{
    width: 100%;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.workshops section div {
    padding-left:15px;
    padding-right:15px;
    width: 25vw;
    height: 241px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
}

div.workshops section div h3 {
    font-weight: 600;
    padding: 10px;
}   

div.workshops section div img {
    width: 25vw;
    border-radius: 20px;
}

div.schedule {
    height: 390px;
    width: 100%;
    text-align: center;
}

div.schedule h2 {
    padding: 30px;
    font-size: 2.5em;
    color: #e5451c;
}

div.schedule section {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: white;
}

div.schedule .day{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;    
    background-color:white;
    width: 18vw;
    height: 192px;
    border-radius: 15px;
    border: solid 0.4px rgba(0,0,0,0.07);
} 

div.schedule .day:hover {
    -webkit-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
}

div.schedule .day h2 {
    font-weight: 700;
    font-size: 1.6em;
    color: #242424;
    padding: 8px;
}

div.schedule .day h3 {
    font-size: 1.1em;
    font-weight: 500;
    color: #242424;
    padding:6px;
}

div.schedule .day p {
    color: #242424;
    font-size: 0.9em;
}

div.ticket {
    height: 600px;
    width: 100%;
    text-align: center;
}

div.ticket h2 {
    padding: 30px;
    font-size: 2.5em;
    color: #e5451c;
}

div.ticket .ticket-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ticket .pricing-table {
    width: 25vw;
    height:300px;
    margin:20px;   
    border-radius: 15px;
    border: solid 0.4px rgba(0,0,0,0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.ticket .pricing-table ul.plan-info {
    list-style:none;    
}

div.ticket .pricing-table h3 {
    color: #e5451c;
    padding: 8px;
}

div.ticket .pricing-table ul.plan-info li i {
    color: #e5451c;
}

div.ticket .pricing-table ul.plan-info li {
    padding: 6px;
}

div.ticket .pricing-table h4 {
    font-weight: 500;
    padding: 6px;
    margin-bottom: 4    px;
}

div.ticket .pricing-table a {
    text-decoration: none;
    color:white;
    font-style: italic;
}

div.ticket .pricing-table .register {
    background-color: #e5451c;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}

footer {
    width: 94%;
    margin: 0 auto;
    height: 80px;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 27px -9px rgba(0,0,0,0.2);
}

footer p {
    font-weight: 600;
}

}