/* ISQIP Page */
.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.branches{
    display: flex;
    width: 60%;
}
.branch-card{
    background: #FFFFFF;
    margin:6%;
    height: 15vw;
    position: relative;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2em;
    border-radius: 10px;
    border: solid 0.4px rgba(0,0,0,0.07);
}

.branch-card:hover {
    -webkit-box-shadow: 0px 0px 27px -9px #e5451c;
    -moz-box-shadow: 0px 0px 27px -9px #e5451c;
    box-shadow: 0px 0px 27px -9px #e5451c;
}

.branch-card:hover .card-body{
    top: -80px;
}

.branch-card:hover .card-label{
    color: #e5451c;
}

.card-body{
    width: 100%;
    text-align: center;
    position: absolute;
    top: -25px;
    transition: top 0.5s;
}


.card-body img{
    width: 75%;
}

.card-label{
    position: absolute;
    bottom: 4%;
    color: #242424;
    width: 100%;
    text-align: center;
    transition: color 0.3s;
}

@media only screen and (max-width: 1000px) {
    .branches{
        margin-top: 10vh;
    }   
}

@media only screen and (max-width: 575.98px) {
    .container {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .branches{
        width: 100%;
    }
    .branch-card{
        background: #FFFFFF;
        margin:12px;
        height: 180px;
        position: relative;
        padding: 0%;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        border-radius: 10px;
    }
    
    .card-body{
        top: 0px;
    }
    .branch-card:hover .card-body{
        top: 0px;
    }
    
        
}