@font-face {
	font-family: "poppins";
	src: url("../fonts/poppins-bold-webfont.woff") format("woff");
}

$strong-font: 'Baloo Bhai', cursive;
$title-font: 'poppins', sans-serif;
$content-font: 'Libre Baskerville', serif;