@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins-bold-webfont.woff") format("woff");
}

.row {
  margin: 0%;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body nav {
  height: 50px;
  background-color: #2a2a2a;
}

body nav i.material-icons {
  font-size: 40px;
  line-height: 50px;
  color: #14A76C;
}

body nav .menu {
  position: relative;
  display: inline-block;
}

body nav .menu-content {
  display: none;
  position: absolute;
  background-color: #2a2a2a;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

body nav .menu-content .link {
  padding: 1em;
}

body nav .menu-content .link a, body nav .menu-content .link a:visited, body nav .menu-content .link a:active {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-family: "poppins", sans-serif;
}

body nav .menu-content .link a:hover, body nav .menu-content .link a:visited:hover, body nav .menu-content .link a:active:hover {
  color: #14A76C;
}

body .banner {
  background-color: #272727;
  color: #FFFFFF;
  margin: 0%;
  height: 100vh;
}

body .banner .banner-contents {
  text-align: center;
  margin-top: 10%;
}

body .banner .banner-contents p.hello {
  font-family: "Baloo Bhai", cursive;
  font-size: 2.0rem;
  margin: 0%;
  color: #14A76C;
}

body .banner .banner-contents p.intro {
  font-family: "poppins", sans-serif;
  color: #FFFFFF;
  font-size: 5.5rem;
  margin-top: 1.5%;
  margin-bottom: 1.4%;
  line-height: 57px;
  font-weight: bold;
}

body .banner .banner-contents p.sub {
  font-family: "Libre Baskerville", serif;
  color: #747474;
  font-weight: bold;
  margin-bottom: 3%;
}

body .banner .banner-contents p a.aboutme {
  border: 4px solid #FFFFFF;
  padding: 1%;
  width: 200px;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  color: inherit;
}

body .banner .banner-contents p a.aboutme:active {
  color: inherit;
}

body .banner .banner-contents p a.aboutme:visited {
  color: inherit;
}

body .banner .banner-contents p a.aboutme:hover {
  border-color: #14A76C;
}

body .banner .banner-contents div.social {
  margin-top: 10%;
  margin-bottom: 4%;
}

body .banner .banner-contents div.social a {
  text-decoration: none;
}

body .banner .banner-contents div.social a i {
  font-size: 2.6em;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  color: #FFFFFF;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

body .banner .banner-contents div.social a i:hover {
  color: #14A76C;
}

body .about .top p.title {
  font-size: 1.5em;
  font-family: "Baloo Bhai", cursive;
  color: #FF652F;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

body .about .top h2.about-intro {
  color: #272727;
  font-family: "poppins", sans-serif;
  font-size: 2em;
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 0.5em;
}

body .about .top img.dp {
  width: 7em;
  height: 7em;
  border-radius: 100%;
  margin-top: 0.7em;
}

body .about .top div.about-text {
  font-size: 1.1em;
  font-family: "Libre Baskerville", serif;
  text-align: justify;
  line-height: 1.7em;
  color: #747474;
}

body .about-mid {
  margin-top: 2.5em;
}

body .about-mid h2 {
  font-family: "poppins", sans-serif;
  font-size: 1.2em;
  color: #272727;
}

body .about-mid .content {
  font-family: "Libre Baskerville", serif;
  color: #747474;
  font-size: 1em;
  line-height: 1.8em;
  text-align: justify;
}

body .about-mid .details {
  margin-top: 1.1em;
}

body .about-mid .details ul {
  list-style-type: none;
  font-size: 0.9em;
  padding-left: 0%;
}

body .about-mid .details ul li {
  padding-bottom: 0.5em;
}

body .about-mid .details ul li h2 {
  padding: 0%;
  margin-bottom: 0.2em;
}

body .about-mid .skillbars progress {
  background: #FFFFFF;
  width: 100%;
  height: 0.5em;
  margin-top: 15px;
}

body .about-mid .skillbars progress::-webkit-progress-value {
  background: #FF652F;
}

body .about-mid .skillbars progress::-webkit-progress-bar {
  background: #dbd7d7;
}

body .about-mid .btnhire {
  margin-top: 3em;
  margin-bottom: 5em;
}

body .about-mid .btnhire p a.hireme {
  border: 4px solid #272727;
  padding: 1%;
  width: 200px;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  -webkit-transition: border 0.5s, color 0.5s;
  transition: border 0.5s, color 0.5s;
  padding: 0.5em;
  margin-left: -4em;
  padding-left: 4em;
  padding-right: 4em;
  font-weight: bold;
  text-align: center;
}

body .about-mid .btnhire p a.hireme:active {
  color: inherit;
}

body .about-mid .btnhire p a.hireme:visited {
  color: inherit;
}

body .about-mid .btnhire p a.hireme:hover {
  border-color: #FF652F;
  color: #FF652F;
}

body div.services {
  background: #272727;
  padding-top: 4em;
  padding-bottom: 6em;
}

body div.services .title {
  font-family: "Baloo Bhai", cursive;
  font-size: 1.5rem;
  margin: 0%;
  color: #14A76C;
}

body div.services h2.services-intro {
  color: #FFFFFF;
  font-family: "poppins", sans-serif;
  padding-top: 0%;
  margin-top: 0%;
}

body div.services div.icon-set i.icon {
  font-size: 4em;
  color: #14A76C;
}

body div.services h3.sub-title {
  color: #FFFFFF;
  font-family: "poppins", sans-serif;
}

body div.services .content {
  color: #747474;
  font-family: "Libre Baskerville", serif;
  line-height: 1.8em;
  font-size: 1em;
  text-align: justify;
}

body div.contact {
  background: #FFFFFF;
  padding-top: 4em;
}

body div.contact .title {
  font-family: "Baloo Bhai", cursive;
  font-size: 1.5rem;
  margin: 0%;
  color: #FF652F;
}

body div.contact .sub-title {
  color: #272727;
  font-family: "poppins", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "poppins", sans-serif;
  font-size: 1.8em;
}

body div.contact .input-field {
  width: 100%;
}

body div.contact .input-field input {
  width: 50em;
  margin: 1em;
  height: 3em;
  border: none;
  border-bottom: 2px solid #747474;
  font-size: 0.9em;
  font-family: "poppins", sans-serif;
}

body div.contact .input-field input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #FF652F;
}

body div.contact .input-field textarea {
  width: 50em;
  margin: 1em;
  height: 3em;
  border: none;
  border-bottom: 2px solid #747474;
  font-size: 0.9em;
  font-family: "poppins", sans-serif;
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
}

body div.contact .input-field textarea:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #FF652F;
  height: 10em;
}

body div.contact .input-field button {
  margin-top: 3.5em;
  width: 50em;
  height: 3em;
  border: none;
  font-size: 0.9em;
  font-family: "poppins", sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
  line-height: 50%;
  background: #FF652F;
  color: #FFFFFF;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}

body div.contact .input-field button:hover {
  background: #e45927;
}

body .footer {
  margin-top: 6em;
  padding-top: 6em;
  padding-bottom: 2em;
  background: #272727;
  color: #FFFFFF;
}

body .footer div.icon {
  font-size: 3em;
}

body .footer div p {
  font-family: "Libre Baskerville", serif;
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  color: #747474;
}

body .footer div.sub-title {
  color: #14A76C;
  font-size: 1em;
}

body .website-bottom {
  margin-top: 4em;
  font-size: 0.9em;
  font-family: "poppins", sans-serif;
  color: #747474;
}

body .website-bottom a, body .website-bottom a:active, body .website-bottom a:focus, body .website-bottom a:visited {
  text-decoration: none;
  color: white;
}

body .website-bottom a {
  color: #14A76C;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

body .website-bottom a:hover {
  color: #14A76C;
}

.center {
  text-align: center;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #14A76C;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
  z-index: 12;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #FF652F;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

@media only screen and (max-width: 840px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body .banner {
    height: 100vh !important;
  }
  body .banner .hello {
    font-size: 1.3em !important;
  }
  body .banner .intro {
    font-size: 1.8em !important;
    margin-top: 2% !important;
  }
  body .banner .banner-contents {
    margin-top: 40% !important;
  }
  body .banner .sub {
    font-size: 0.6em !important;
    margin-bottom: 18% !important;
  }
  body .banner p a {
    border: 0.5px solid #FFFFFF !important;
  }
  body .banner .aboutme {
    padding: 1em !important;
  }
  body .banner .social {
    margin-top: 35% !important;
    font-size: 0.8em !important;
  }
  body .banner .social i {
    padding: 2% !important;
  }
  body .contact input {
    width: 95% !important;
  }
  body .contact textarea {
    width: 95% !important;
  }
  body .contact button {
    width: inherit !important;
  }
  .about .top {
    margin-top: 20% !important;
  }
  .about .top p.title {
    font-size: 1.2em !important;
  }
  .about .top h2.about-intro {
    font-size: 1.5em !important;
  }
  .about .top .about-dp {
    margin: auto !important;
    margin-bottom: 12% !important;
  }
  .about-mid .profile {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .about-mid .details {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .about-mid .btnhire {
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .about-mid .btnhire p a.hireme {
    margin-left: 12% !important;
  }
  .services .services-intro {
    font-size: 1.4em !important;
  }
  .footer {
    padding-top: 1.5em !important;
  }
  .footer .footer-item {
    margin-top: 3em !important;
  }
  .website-bottom {
    font-size: 0.5em !important;
  }
  .offset-2, .offset-5 {
    margin: 0% !important;
    padding: 0% !important;
  }
}
/*# sourceMappingURL=main.css.map */